
Test_FILE/metagpt/
Test_FILE/metagpt_local/
Test_FILE/logs/
Test_FILE/workspace/
Test_FILE/verl_internbootcamp/metagpt
Test_FILE/verl_internbootcamp/logs
Test_FILE/verl_internbootcamp/workspace
Test_FILE/verl_support/logs
Test_FILE/verl_support/metagpt
Test_FILE/verl_support/workspace
Datasets/
Test_FILE/debug_logs/
wandb/
Test_FILE/verl_support/data
Test_FILE/verl_internbootcamp/dataset
Test_FILE/verl_internbootcamp/data
Test_FILE/verl_internbootcamp/SFT_support/output
Test_FILE/verl_internbootcamp/test
Test_FILE/verl_internbootcamp/SFT_support/test
*.DS_Store
Test_FILE/ScoreFlow/scripts/.DS_Store
setup_env.sh
external_api_key.txt
*.pyc
__pycache__/
set_up.bash
**/*.pyc
.claude/settings.local.json
Test_FILE/verl_support/core-ray::WorkerDict-144415-1753628193
Test_FILE/verl_support/core-ray::WorkerDict-158030-1753628193
Test_FILE/verl_support/core-ray::WorkerDict-158032-1753628193
*.parquet
.claude
Test_FILE/verl_support/checkpoints/
metagpt_root/
training_data/
**/debug_logs
Test_FILE/verl_support/evaluation/results
.vscode/
.vscode/settings.json
evaluation_workflow/logs/
evaluation_workflow/results/
Test_FILE/metagpt_local/metagpt_local/
Test_FILE/metagpt_local/metagpt_local/metagpt.egg-info/PKG-INFO
Test_FILE/metagpt_local/metagpt_local/metagpt.egg-info/requires.txt
Test_FILE/verl_support_backup/core-ray::WorkerDict-17185-1755097123
Test_FILE/verl_support_backup/core-ray::WorkerDict-20134-1755097277
Test_FILE/verl_support_backup/core-ray::WorkerDict-*
Test_FILE/verl_support_backup/outputs/
evaluation_workflow/workspace/
evaluation_workflow/services/logs/
New_evaluation_and_RL/workspace/
New_evaluation_and_RL/logs/
New_evaluation_and_RL/parquet_and_jsonl_data/
New_evaluation_and_RL/evaluation/*.log
New_evaluation_and_RL/reward_server/New_evaluation_and_RL/workspace
New_evaluation_and_RL/config.yaml
New_evaluation_and_RL/evaluation/start_evaluation.sh
New_evaluation_and_RL/generate_parquet_and_jsonl/generate_data.sh
New_evaluation_and_RL/tests/curl.txt
ScoreFlow/benchmark_mapping.jsonl
outputs/

New_evaluation_and_RL/generate_parquet_and_jsonl/internbootcamp_data_test/
New_evaluation_and_RL/generate_parquet_and_jsonl/internbootcamp_data/